html,
body,
#__nuxt {
  width: 100%;
  font-size: 15px;
  line-height: 1.2;
  font-family: 'Ubuntu', sans-serif;
  min-width: var(--min-width-app);
  @media (max-width: 768px) {
    font-size: 13px;
  }
  :focus {
    outline: none;
  }
  * {
    -webkit-tap-highlight-color: transparent !important;
  }
}

#__layout {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 var(--padding-web);
}

body {
  background-color: var(--common-page-bgcolor);
  color: var(--text-color);
}

